h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

@font-face {
    font-family: "Blippo-Black";
    src: url('assets/blippo-black.woff') format("woff"), url("assets/blippo-black.ttf") format("truetype");
}

@font-face {
    font-family: "bygbv76tgbvftr7vg6ty";
    src: url('assets/bygbv76tgbvftr7vg6ty.woff') format("woff"), url("assets/bygbv76tgbvftr7vg6ty.ttf") format("truetype");
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(255, 255, 255);
    display: flex;
    flex-flow: column wrap;
}

.page button {
    margin: auto;
    padding: 2em;
    color: rgb(231, 219, 242);
    font-weight: bold;
    font-size: 32px;
    background-color: rgb(9, 5, 241);
    letter-spacing: 2px;    
    border: none;
    box-shadow: 5px 5px 10px black;
}

#app {
    height: 100%;
    width: 100%;
    margin: auto;
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}
   

.touch-panes{
   position: absolute;
   width: 100%;
   height: 100%;
   top:0;
   left:0;
   display: flex;
   flex-direction: column;
   align-items:stretch;
}

    .touch-panes div{
        flex: auto;
    }

.banner {
    height: 15%;
    background: GoldenRod;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-family: Blippo-Black;
    font-size: 9vmin;
}

.social {
    position: fixed;
    left: 0;
}

    .social img {
        width: 5vmin;
        min-width: 25px;
    }

.bar, .ball {
    background: white;
    position: absolute;
    margin: auto;
}

.bar{
    width: 1.5%;
    height: 12%;
    float:left;
}

.ball{
    width: 2%;
    height: 2%;
}

.line {
    height: 100%;
    width: 0.2%;
    margin: auto;
    background-size: auto auto;
    /*background-color: transparent;*/
    background-image: repeating-linear-gradient(0deg, transparent, transparent 10px, white 10px, white 21px);
}

.scores {
    position: absolute;
    top: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

    .scores div {
        font-family: bygbv76tgbvftr7vg6ty;
        font-size: 6em;
        color: white;
    }

.screen {
    position: relative;
    background: black;
    align-self: center;
    width: 80%;
    height: 75%;
    overflow: hidden;
    margin: auto;
    border-radius: 40px;
    box-shadow: 0px 0px 0px 6px #871;
}
    /*from http://aleclownes.com/2017/02/01/crt-display.html */
    .screen::before {
        content: " ";
        /*display: block;*/
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
        z-index: 2;
        background-size: 100% 2px, 3px 100%;
        pointer-events: none;
    }
    
.screen_logic {
    clear:both;
    position: relative;
    width: 100%;
    height: 100%
}

/*inspired on https://codemyui.com/crt-screen-text-flicker-animation-in-pure-css/ */
.bar, .ball {
    box-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
    animation-duration: 0.01s;
    animation-name: flicker-box;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes flicker-box {
    from {
        box-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
    }

    to {
        box-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
    }
}

.scores {
    text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
    animation-duration: 0.01s;
    animation-name: flicker-text;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes flicker-text {
    from {
        text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
    }

    to {
        text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
    }
}
